@charset "utf-8";

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: black;
}

.logo {
  width: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
}

a .logo-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}


/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

img.header-img {
  width: 100%;
  max-height: 100vh;
  margin-top: -20px;
  z-index: -1
}

.navbar-fixed-top {
  min-height: 120px;
}

div.videos {
  margin-left: 15%;
  margin-right: 15%;
}

div.container-narrow {
  width: 70%;
  margin-left: 15%;
}

div.caption {
  margin-top: -50vh;
  color: white;
  text-align: right;
}

h1.main {
  font-size: 70px;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 2500;
}

.tred {
  color: #e62b1e;
  font-style: Arial, Helvetica, sans-serif;
}

.red {
  color: #e62b1e;
}

.about-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 16px;
}

.logo-text-top {
  padding-top: 15px;
}

.logo-text-middle {
  margin-top: -20px;
}

.logo-text-bottom {
  margin-top: -20px;
  padding-bottom: 5px;
}

.centered {
  text-align: center;
}

.theme-text-top {
  /*padding-top: 65px;*/
  font-size: 16px;
}

.theme-text-bottom {
  font-size: 16px;
}

.theme-head {
  padding-top: 55px;
}

.last-year-text {
  margin: auto;
  padding-top: 15px;
  font-size: 16px;
  text-align: center;
  width: 70%;
}

.back-soon {
  width: 80%;
  margin: auto;
}

.schedule {
  margin-top: -10px;
}

.twitter-button {
  margin: auto;
}

.speaker-pic {
  width: 200px;
  border-radius: 50%;
}

h4.speaker-text {
  width: 65%;
  margin: auto;
  padding-top: 10px;
}

div.span5 {
  text-align: center;
}

.first-row {
  margin-top: 35px;
}

.other-row {
  margin-top: 25px;
}

.invisible {
  background-color: black;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.visible {
  background-color: black;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}









